//
   Created by MannyOrtiz on 9/21/14.

extends layout

block content
    h1 Add A Team Here
    form(name="addTeam", action="addTeam", method="post")
        p Team Name:
            input(type="text", name="name", value="", size="20")
        p Short Name:
            input(type="text", name="shortName", value="", size="20")
        p Location:
            input(type="text", name="location", value="", size="20")
        p Conference:
            input(type="text", name="conference", value="", size="20")
        p Division:
            input(type="text", name="division", value="", size="")

        input(type="submit", name="submit", value="Submit")